/* styling body */

div {
  border: solid black;
  /* max-width: 100%;
  max-height: 100% */
}

.main div {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  margin-bottom: 10px;
  max-width: 100%;
  max-height: 100%
}

form {
  width: 600px;
  height: 300px
}

select {
  width: 600px;
  height: 50px
}

.large {
  max-width: 100%;
  max-height: 100%;
  width: 1110px;
  height: 165px;
}

/* .left {
  align-self: flex-start;
} */

.right {
  align-self: flex-end
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}
 
.align-start {
  position: relative;
}

.jc {
  justify-content: space-evenly;
  padding: 20px 
}

.jc-between {
  justify-content: space-between;
}

.text-center {
  text-align: center
}

.logo-p {
  padding:20px;
}

/* image-size */

.image-lg {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
} 

.image-med {
  max-width: 50%;
  max-height: 50%;
  overflow: hidden;
}

.image-small {
  max-width: 30%;
  max-height: 30%;
  overflow: hidden;
}

/* size of a text-box */

.text-box-med {
  text-align: left;
  height:30%;
  width: 30%;
  align-items: stretch
}

.text-box-lg {
  text-align: left;
  height: 50%;
  width: 50%;
  align-items: stretch
}

.text-med {
  font-size: 45px
}
.text-small {
  font-size: 10px
}

.font-grey {
  color: #545B5E
}

/* sets background to blue and font to white or vise versa */

.bg-blue {
  color: #FFFFFF;
  background-color: #2D66F6;
  border-radius: 10px
}

.bg-white {
  color: #2D66F6;
  background-color: #FFFFFF;
  border-radius: 10px
}

.btn-blue-med {
  color: #FFFFFF;
  background-color: #2D66F6;
  border-radius: 10px;
  width: 200px;
  height: 60px
}

.btn-blue-lg {
  color: #FFFFFF;
  background-color: #2D66F6;
  border-radius: 10px;
  width: 220px;
  height: 70px
}

.btn-white-med {
  color: #2D66F6;
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 200px;
  height: 60px
}

.btn-white-lg {
  color: #2D66F6;
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 220px;
  height: 70px
}

/* styling footer */

.footer {
  min-width: 100%;
  padding: 20px;
  background-color: #2F2E41;
  color: #FFFFFF;
  /* font-family: "Inter";
  font-style: normal;
  font-weight: 600; */
  font-size: 25px
  
}

.social-media {
  justify-content: space-evenly;
  margin: 30px
}

.Acaboo-2019{
  justify-content: center
}

