/* div {
    border: solid black;
} */

.main {
    display: flex;
    display: -webkit-flex;
    flex-direction: column
}

.section_1, .section_2, .section_3, 
.section_4, .section_5, .section_6, 
.section_7, .section_8, .section_9, 
.section_10, .section_7_2, .section_7_2_2 {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    
}

.section_1,  .section_2,  .section_5, 
.section_10, .section_7_2, .section_7_2_2 {
    flex-direction: row;
}

.section_3, .section_4, .section_6, 
.section_7, .section_8, .section_9, 
.section_10, .section_1_1, .section_5_1{
    flex-direction: column
}    

.section_2, .section_4, .section_7, 
.section_9, .section_1_1, .section_5_2 {
    justify-content: center;
    padding: 10px
}

.section_1, .section_5  {
    justify-content: space-evenly
}

.section_1, .section_3, .section_6, 
.section_8 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.section_5_1, .section_7_2, .section_7_1 {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
   
}

.section_6{
    width: 100%;
    height: 100%;
    max-height: auto;
    max-width: auto;
    
}

.section_5 {
    overflow: auto;
    margin-bottom: 100px;
}

.section_7 {
    /* border-bottom: thin solid #545B5E;
    padding-bottom: 10px; */

}

.section_3, .section_8 {
    margin: 40px
}
.section_7_2_1 {
    height: 180px;
    border-left: thin solid #545B5E;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    max-width: 250px;

}

.section_7_2_1_p {
    font-size: 20px;
}

.section_7_2_2 {
    font-size: 10px;
    position: absolute;
    bottom: 0;
}

.section_7_2, .hu_logo {
    margin-left: 20px;
    margin-right: 20px
}

.home_hva_logo_large {
    width: 115px;
    height: 115px;
    margin: 30px
}

.search_image, .cd_image_1, .ip_image_1 {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.section_5_2_image {
    width: 100%
 }

.search_image_1, .about_us_3_image {
    flex-shrink: 1;
    min-width: 100%;
    min-height: 100%
}

.search_image_1 {
    width: 504px;
    height: 504px
}

.cd_image_1 {
    max-width: 80%;
    max-height: 80%;
}

.ip_image_1 {
    max-width: 50%;
    max-height: 50%
}

.section_5_1 {
    width: 30%;
    align-items: stretch
}

.section_5_2 {
    width: 60%;
}

.section_5_1 p {
    color: #545B5E
}

.section_5_1 a {
    color:#2D66F6;
    text-decoration: none
}

.section_5_1_2 h4 {
    margin-bottom: 5px
}

.section_5_1_2 p {
    margin-top: none;
    font-size: 15px;
    color: #000000
}
.section_6_1 {
    color: #FFFFFF;
    background-color: #2D66F6;
    border-radius: 10px;
    
}

.section_6_1, .section_6_2 {
    width: 75%;
    display: inline-block;

}

.section_6_1 h1 {
    justify-content: flex-start;
    text-align: left;
    padding: 10px;
    font-size: 30px
}

.section_6_1 a {
    align-content: right;
    justify-content: flex-end
}

.section_6_2 p {
    float: right;
    padding: 10px; 
    font-size:  15px;
    margin-top: none;
    line-height: normal
}

.home_hva_logo_small {
    width: 40px ;
    height: 40px
}

.section_1_1_1 h1, .section_3_1 h1 {
   color:#000000
}

.section_1_1_1 p, .section_3_2 p, .section_8_2 p{
    color:#545B5E
}

.btn_blue {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 13px;
    background-color: #FFFFFF;
    color: #2D66F6;
    margin-left: 5px
}

.btn_white {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 13px;
    background-color: #2D66F6;
    color: #FFFFFF;
}



