/* input.password-field {
  padding-right: 25px;
}

.form-group .col-form-label {
    display: none;
}

.password-image {
  width: 20px;
  height: auto;
  position: relative;
  top: 7px;
  right: 25px;
  cursor: pointer
} */

.form-group .col-form-label {
  display: none;
}